{% extends 'boxes/base_tmp.html' %}

{% block title %}Room{% endblock %}

{% block meta_includes %}
{% load static %}
<link type="text/css" href="{% static 'boxes/css/roompage_styles.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div id='info'>
		<div id='form_area'>
			<div id='input_fields'>
				<div><p>Add user</p></div>
				<div>
				<form method='post'>
					<div>
						<p>Name</p>
						<input type="text" name="name">
					</div>
					<div>
						<button type="submit">Submit</button>
					</div>
				</form>
				</div>
			</div>
		</div>
		<div id='room_info'>
			<div>
			<p> {{people_info}}</p>
			</div>
		</div>
	</div>
{% endblock %}
